:root {
  --wine: rgb(142, 4, 35);
  --whitepurple:rgb(225, 218, 234);
  --winerose:rgb(245, 219, 218);
  --whiterose:rgb(248, 239, 239);
  --woodbrown: rgb(192, 106, 66);
  --graves:rgb(92, 0, 34);
}
p{
  margin: 0;
}
h1{
  color: var(--graves);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--whiterose);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
